{% extends 'index.html' %}

{% block title %}Add Gateway{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/add_gateway.css') }}">
    <script>
        function detectLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            document.getElementById('location').value = position.coords.latitude + ", " + position.coords.longitude;
        }
    </script>

</head>

    <div class="container">
        <h1>Add Sensor</h1>
        <form action="{{ url_for('add_sensors') }}" method="POST">
            <label for="sensor_id">Sensor ID:</label>
            <input type="text" id="sensor_id" name="sensor_id" required>

            <label for="sensor_name">Sensor Name:</label>
            <input type="text" id="sensor_name" name="sensor_name" required>

            <div class="location-container">
                <label for="location">Location:</label>
                <div class="location-input">
                    <input type="text" id="location" name="location" required>
                    <button type="button" onclick="detectLocation()">Detect Location</button>
                </div>
            </div>
            <input type="submit" value="Add Sensor">
        </form>
    </div>

   
{% endblock %}
